.container{
	display: flex;
	align-items: flex-start;
	gap: .5rem;
}

body{
	background-color: #344851;
	font-family: ink free;
}

.text, span{
	font-size: 80px;
}

ul{
	height: 80px;
	list-style: none;
	Overflow: hidden;
}

ul li{
	position: relative;
	height: 80px;

	animation: to-top 12s steps(4) infinite;
	/*steps() is a timing function that allows us to break
	an animation or transition into segments, rather than one continuous
	transition from one state to another*/
}

ul li span{
	color: rgb(39, 217, 255);
}

ul li::after{
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #344851;
	border-left: 4px solid white;

	animation: to-right 3s steps(19) infinite;
	/*19 because it's the length of the longest-used word 
	which in this case is Front-end Developer*/
}

@keyframes to-right{
	40%, 60%{
		left: calc(100% + 50px);
		}
			95%{
				left: 0;
			}
}

@keyframes to-top {
	100%{
		transform: translateY(-400%);
		/* OR */
		/* transform: translateY(calc(-100px * 4)) */

	}
}



